@import "_mixines"
html, body
	height: 100%
	color: $primary-dark-c

.main-wrapper
	overflow-y: scroll
	height: 100%
	display: grid
	grid-template-columns: 1fr 480px
	
.joke-finder
	padding: 40px 140px 40px 140px
	&__title
		font-weight: 700
		font-size: 20px
	&__greetings
		margin-top: 78px
		font-weight: 700
		font-size: 32px
		line-height: 44px
	.hamburger-wrapper
		display: flex
		justify-content: space-between
.hamburger
	cursor: pointer
	display: none
	
			

.form
	margin-top: 33px
	.radio
		margin-top: 10px
		padding-left: 40px
		font-weight: 400
		font-size: 18px
		position: relative
		cursor: pointer
		// Remove default radio
		.radio__old-radio
			@include remove-radio
		// Add new radio
		.radio__new-radio
			position: absolute
			top: 4px
			left: 0
			height: 20px
			width: 20px
			border: 2px solid $light-font
			border-radius: 50%
			// Style Dot
			&:after
				content: ""
				position: absolute
				display: none
				top: 3px
				left: 3px
				width: 10px
				height: 10px
				border-radius: 50%
				background: $primary-dark-c
		// On hover change color of border
		&:hover .radio__new-radio 
			border: 2px solid $primary-dark-c
		// On checked apply color of border
		input:checked ~ .radio__new-radio
			border: 2px solid $primary-dark-c
		// On checked dot
		input:checked ~ .radio__new-radio:after 
		  	display: block

	&__get-btn
		margin-top: 20px
		width: 152px
		height: 42px
		border: none
		background: linear-gradient(92.01deg, $secondary-c 0%, #7291FF 100%)
		border-radius: 10px
		font-weight: 400
		font-size: 16px
		color: #FFFFFF
		outline-color: white
		&:hover
			background: #7291FF 
		&:focus
			outline: none

.categories
	&-labels
		display: flex
		flex-wrap: wrap
		margin-top: 10px
		&--hidden
			display: none
		&__item
			margin-top: 10px
			cursor: pointer
			background-color: #FFFFFF
			margin-right: 10px
			border: 2px solid $primary-light-c
			border-radius: 6px
			padding: 3px 15px
			font-weight: 500
			font-size: 12px
			letter-spacing: 2px
			text-transform: uppercase
			color: $light-font
			transition: all 0.5s
		input:checked+label, .categories-labels__item:hover
			background: $primary-light-c
			color: $primary-dark-c
		input[type="radio"]
			@include remove-radio
				
	

.search
	&__input
		margin-top: 20px
		display: block
		width: 100%
		height: 42px  
		border: 2px solid $primary-dark-c
		border-radius: 10px
		padding: 10px 0 10px 15px
		font-weight: 400
		font-size: 16px
		color: $light-font
		&--hidden
			display: none
		&:focus
			outline: none
	

	
.found-jokes
	margin-top: 40px
.joke-block
	margin-top: 20px
	padding: 40px
	width: 100%
	background-color: $primary-light-c
	border-radius: 20px
	&__heart
		width: 100%
		img
			cursor: pointer
			display: block
			margin-left: auto
	// Wrap message icon and text in one line
	.joke-wrapper
		margin-top: 10px
		display: flex
		.message
			margin-right: 20px
			&__circle
				display: flex
				justify-content: center
				align-items: center
				width: 40px
				height: 40px
				background-color: #FFFFFF
				border-radius: 50%
		.joke
			width: 100%
			&__id
				font-weight: 500
				font-size: 10px
				color: $light-font
				a
					text-decoration: underline
					color: $secondary-c
					word-break: break-all
					// Add icon at the end of link
					&:after
						display: inline-block
						content: ""
						margin-left: 5px
						width: 10px
						height: 10px
						background: url("../icon/link.svg") center (center/cover) no-repeat	
			&__text
				margin-top: 5px
				font-weight: 400
				font-size: 18px
			// Wrap update and category in one line
			& .update-wrapper
				display: flex
				margin-top: 20px
			&__update
				font-weight: 400
				font-size: 10px
				color: $light-font
				margin: auto 0
			&__category
				margin-left: auto
				background: #FFFFFF
				border-radius: 6px
				padding: 4.5px 20px
				font-weight: 500
				font-size: 10px
				letter-spacing: 2px
				text-transform: uppercase
	// Smal version of joke-block (for favourite)
	&--small
		padding: 20px
		border-radius: 10px
		.joke .joke__text
			font-size: 14px
	// White version of joke-block (for favourite)
	&--white
		background-color: #FFFFFF
		border: 1px solid #F8F8F8
		box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1)
		border-radius: 10px
		& .message .message__circle
			background-color: $primary-light-c
		

.favourite
	height: 100%
	width: 480px
	background-color: $primary-light-c
	padding: 40px
	&__subtitle
		font-weight: 500
		font-size: 20px
		color: $light-font
	.hamburger
		display: none

