@mixin burger-line
    display: block
    margin-top: 4px
    width: 14px
    height: 2px
    background: #ffffff
    border-radius: 2px

@mixin remove-radio
    position: absolute
    opacity: 0
    cursor: pointer
    height: 0
    width: 0
