$primary-light-c: #F8F8F8
$primary-dark-c: #333333
$secondary-c: #EC7229
$light-font: #ABABAB

@font-face
    font-family: "roboto"
    src: url("../fonts/Roboto/Roboto-Regular.ttf")
    font-style: normal
    font-weight: 400
@font-face
    font-family: "roboto"
    src: url("../fonts/Roboto/Roboto-Medium.ttf")
    font-style: normal
    font-weight: 500
@font-face
    font-family: "roboto"
    src: url("../fonts/Roboto/Roboto-Bold.ttf")
    font-style: normal
    font-weight: 700
